@import url("https://fonts.googleapis.com/css2?family=BioRhyme&family=Dosis&family=Merriweather&family=Montserrat&family=Raleway&family=Roboto&display=swap%27");

body {
  margin: 0;
  font-family: "Montserrat", "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.default-background {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  outline: none;
}
:focus {
  outline: none;
}

button {
  font-family: "Roboto";
}

textarea {
  resize: none;
}
