@import url("https://fonts.googleapis.com/css2?family=BioRhyme&family=Dosis&family=Merriweather&family=Montserrat&family=Raleway&family=Roboto&display=swap%27");

body {
  margin: 0;
  font-family: "Montserrat", "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.default-background {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  outline: none;
}
:focus {
  outline: none;
}

button {
  font-family: "Roboto";
}

textarea {
  resize: none;
}

.product-title {
  font-size: 1.1rem;
  font-weight: bold;
  justify-content: center;
  line-height: 0.5em;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: olivedrab;
  justify-content: center;
  line-height: 0.5em;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

/* Register */

.register-container {
  display: flex;
  justify-content: space-around;
  margin: 8em 0;
}

@media (max-width: 600px) {
  .register-container {
    display: flex;
    flex-direction: column;
  }
}

.register-img {
  width: 40%;
  background-image: url("https://github.com/tessa-woodard/urban-roots-revised/blob/main/src/assets/register.jpg?raw=true");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register-title {
  font-size: 5rem;
  justify-content: center;
  line-height: 0.8em;
  margin-bottom: 2rem;
  font-family: "Playfair Display", serif;
  letter-spacing: 1rem;
  margin-top: 0;
}

.flowers {
  color: olivedrab;
  font-size: 1.5rem;
  justify-content: center;
  line-height: 0.5em;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.1px;
}

.form-group {
  line-height: 2rem;
  padding-bottom: 2rem;
}

/* Login */

.login-container {
  display: flex;
  justify-content: space-around;
  margin: 9em 0;
}

@media (max-width: 600px) {
  .login-container {
    display: flex;
    flex-direction: column;
  }
}

.login-img {
  width: 40%;
  background-image: url("https://github.com/tessa-woodard/urban-roots-revised/blob/main/src/assets/login.jpg?raw=true");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-title {
  font-size: 5rem;
  justify-content: center;
  line-height: 0.8em;
  margin-bottom: 2rem;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.1px;
  margin-top: 0;
}

.login-form-group {
  line-height: 2rem;
  padding-bottom: 2rem;
}

/* Reset password */

.reset-container {
  display: flex;
  justify-content: space-around;
  margin: 9em 0;
}

@media (max-width: 600px) {
  .forgot-container {
    display: flex;
    flex-direction: column;
  }
}

.reset-img {
  width: 40%;
  background-image: url("https://github.com/tessa-woodard/urban-roots-revised/blob/main/src/assets/reset-password.jpg?raw=true");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reset-title {
  font-size: 5rem;
  justify-content: center;
  line-height: 0.8em;
  margin-bottom: 2rem;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.1px;
  margin-bottom: 5rem;
}

.reset-flowers {
  color: olivedrab;
  font-size: 2rem;
  justify-content: center;
  line-height: 0.5em;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.1px;
}

.reset-form-group {
  line-height: 2rem;
  padding-bottom: 4rem;
}
